<form autocomplete="off" role="presentation" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <table>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input matInput placeholder="Old Password" name="oldPassword" type="password" autocomplete="new-password" formControlName="oldPassword" required>
          <mat-error [MpgpFormControlError]="form.controls['oldPassword'].errors"></mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input matInput placeholder="New Password" name="password" type="password" autocomplete="new-password" formControlName="password"
            required>
          <mat-error [MpgpFormControlError]="form.controls['password'].errors"></mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-full-width">
          <input matInput placeholder="Password Repeat" name="passwordRepeat" type="password" autocomplete="new-password" formControlName="passwordRepeat"
            required>
          <mat-error [MpgpFormControlError]="form.controls['passwordRepeat'].errors"></mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="content-center">
        <button mat-raised-button color="accent" [disabled]="!form.valid">Submit</button>
      </td>
    </tr>
  </table>
</form>