<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="logo" title="Multiplayer Game Platform" />
    </a>
    <span>MPGP</span>
    <span class="toolbar-spacer"></span>
    <div class="toolbar-buttons-panel" *ngIf="accountService.isLoggedIn">
      <main-toolbar-notifications></main-toolbar-notifications>
      <main-toolbar-mail></main-toolbar-mail>
      <main-toolbar-avatar></main-toolbar-avatar>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>